*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./Screenshot\ 2024-12-27\ 193153.jpg);
    gap: 2rem;

}
#card{
  height: 13rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(to right,#EFEDAB,rgb(251, 251, 129));

}

button:nth-child(2){
    width: 8rem;
    height: 3rem;
    font-size: 1.6rem;
    border-radius: 1rem;

    background-color:#EFEDAB;
}
button{
    height: 3rem;
    border-radius: 1rem;

    width: 4rem;
    font-size: 2rem;
    background-color: #EFEDAB;
 border: 2px solid rgb(177, 177, 125);
}